---
extends: default

rules:
  line-length:
    max: 160
    ignore: |
      Taskfile.yaml
      docker-compose.yaml
      slurm-dev-environment/docker-compose.yaml
  document-start:
    ignore: |
      kvstore/fixtures/*.yaml
ignore:
  workflows/prefect_deployments/*.yaml  # managed by prefect
