# General
aenum~=3.1.16  # extendable enums
case-converter~=1.2.0
cython<3.0
Pillow~=11.3.0  # imagefield requirement
typing_extensions~=4.14.1
tzdata

# Django and plugins
django==5.2.7
django-cors-headers==4.9.0
dj-database-url==3.0.1
django-debug-toolbar==5.2.0
django-json-widget==2.0.4  # for jsonfields in admin panel
django-ltree-2==0.1.12  # biome hierarchies
django-ninja~=1.4.3  # api
django-ninja-jwt~=5.3.9  # api auth
django-db-file-storage~=0.5.6.1  # logo storage in db
django-unfold==0.67.0  # admin panel

# Serving
asgiref~=3.10.0
gunicorn==23.0.0
whitenoise==6.11.0

# DB
psycopg2-binary

# Prefect workflows
prefect==3.4.19
fastapi==0.123.6
prefect-shell==0.3.1
prefect-slack==0.3.1
prefect-slurm==0.1.4

# Pydantic
pydantic<2.12.0  # TODO upgrade once https://github.com/eadwinCode/django-ninja-jwt/pull/151 is released
pydantic-settings~=2.11.0
pydantic-xml[lxml]~=2.18.0
email-validator==2.3.0
lxml==6.0.2

# Legacy DB connectors (remove at some point)
pymongo==4.13.2
mysql-connector-python
SQLAlchemy

# Outbound network
requests~=2.32.4
httpx~=0.28.1
